Question 1:

In [11]:
# Step 1: Import the necessary libraries
import pandas as pd

# Step 2: Import the dataset from this address
dataset_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

# Step 3: Assign it to a variable called users
users = pd.read_csv(dataset_url, sep = "|")

# Step 4: What is the mean age per occupation
mean_age_per_occupation = users.groupby("occupation")["age"].mean()
print("Step 4: Mean Age per Occupation:\n", mean_age_per_occupation)

# Step 5: Discover the Male ratio per occupation and sort it from the most to the least
def male_ratio_per_occupation(group):
  males = group[group["gender"] == "M"].shape[0]
  total = group.shape[0]
  return (males / total) * 100

male_ratio_per_occupation = users.groupby("occupation").apply(male_ratio_per_occupation, include_groups = False)
male_ratio_per_occupation = male_ratio_per_occupation.sort_values(ascending = False)
print("\nStep 5: Male Ratio per Occupation:\n", male_ratio_per_occupation)

# Step 6: For each occupation, calculate the minimum and maximum ages
ages_maxmin_per_occupation = users.groupby("occupation")["age"].agg(["min", "max"])
print("\nStep 6: Min and Max Ages per Occupation:\n", ages_maxmin_per_occupation)

# Step 7: For each combination of occupation and sex, calculate the mean age
mean_age_by_occupation_sex = users.groupby(["occupation", "gender"])["age"].mean()
print("\nStep 7: Mean Age by Occupation and Sex:\n", mean_age_by_occupation_sex)

# Step 8: For each occupation present the percentage of women and men
total_users = len(users)
gender_count = users.groupby(["occupation", "gender"])["gender"].value_counts()
gender_percent = (gender_count / total_users) * 100
print("\nStep 8: Percentage of Women and Men for each Occupation:\n", gender_percent)

Step 4: Mean Age per Occupation:
 occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

Step 5: Male Ratio per Occupation:
 occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

Step 6: Min and Max Ages per Occupation:
                min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

Step 7: Mean Age by Occupation and Sex:
 occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

Step 8: Percentage of Women and Men for each Occupation:
 occupation     gender
administrator  F          3.817603
               M          4.559915
artist         F          1.378579
               M          1.590668
doctor         M          0.742312
educator       F          2.757158
               M          7.317073
engineer       F          0.212089
               M          6.892895
entertainment  F          0.212089
               M          1.696713
executive      F          0.318134
               M          3.075292
healthcare     F          1.166490
               M          0.530223
homemaker      F          0.636267
               M          0.106045
lawyer         F          0.212089
               M          1.060445
librarian      F          3.075292
               M          2.332980
marketing      F          1.060445
               M          1.696713
none           F          0.424178
               M          0.530223
other          F          3.817603
               M          7.317073
programmer     F          0.636267
               M          6.362672
retired        F          0.106045
               M          1.378579
salesman       F          0.318134
               M          0.954401
scientist      F          0.318134
               M          2.969247
student        F          6.362672
               M         14.422057
technician     F          0.106045
               M          2.757158
writer         F          2.014846
               M          2.757158
Name: count, dtype: float64

Question 2:

Question 3:

Question 4:

In [28]:
import pandas as pd

df = pd.read_csv("C:\\Users\\DELL\\Documents\\Grad Schools\\Canada\\Classes\\BDAT\\BDAT1004-24F-10910 - 24F Data Analytics Programming - 02\\Problem Set 3\\wind.data", sep="\t")

print(df)

  Yr Mo Dy RPT VAL ROS KIL SHA BIR DUB CLA MUL CLO BEL MAL
0  61 1 1 15.04 14.96 13.17 9.29 NaN 9.87 13.67 1...
1  61 1 2 14.71 NaN 10.83 6.50 12.62 7.67 11.50 1...
2  61 1 3 18.50 16.88 12.33 10.13 11.17 6.17 11.2...

Question 5:

In [19]:
# Step 1: Import the necessary libraries
import pandas as pd

# Step 2: Import the dataset from this address
dataset_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

# Step 3: Assign it to a variable called chipo
chipo = pd.read_csv(dataset_url, sep = "\t")

# Step 4: See the first 10 entries
print("\nStep 4: First 10 entries: \n", chipo.head(10))

# Step 5: What is the number of observations in the dataset?
total_number_observations = chipo.shape[0]
print("\nStep 5: Total number of observations: ", total_number_observations)

# Step 6: What is the number of columns in the dataset?
total_number_columns = chipo.shape[1]
print("\nStep 6: Total number of columns: ", total_number_columns)

# Step 7: Print the name of all the columns
print("\nStep 7: List of column names:", chipo.columns)

# Step 8: How is the dataset indexed?
print("\nStep 8: Index:", chipo.index.name)

# Step 9: Which was the most-ordered item?
most_ordered_item = chipo["item_name"].mode()[0]
print("\nStep 9: Most ordered item: ", most_ordered_item)

# Step 10: For the most-ordered item, how many items were ordered?
total_number_most_ordered_items = chipo["item_name"].value_counts().loc[most_ordered_item]
print("\nStep 10: Step 10: Total number of most ordered items: ", total_number_most_ordered_items)

# Step 11: What was the most ordered item in the choice_description column?
most_ordered_choice = chipo["choice_description"].mode()[0]
print("\nStep 11: The most ordered item choice description: ", most_ordered_choice)

# Step 12: How many items were orderd in total?
total_items_ordered = chipo["quantity"].sum()
print("\nStep 12: Total items ordered: ", total_items_ordered)

# Step 13:
# Turn the item price into a float
# Check the item price type
# Create a lambda function and change the type of item price
# Check the item price type
item_price_dollarized = lambda x: float(x[1:-1])
print("\nStep 13:\nItem price data type after conversion: ", chipo["item_price"].dtype)
chipo["item_price"] = chipo["item_price"].apply(item_price_dollarized)
print("Item price data type after conversion: ", chipo["item_price"].dtype)

# Step 14: How much was the revenue for the period in the dataset?
total_revenue = (chipo["quantity"] * chipo["item_price"]).sum()
print("\nStep 14: Total Revenue: ", total_revenue)

# Step 15: How many orders were made in the period?
total_number_orders = chipo["order_id"].nunique()
print("\nStep 15: Total Number of Orders: ", total_number_orders)

# Step 16: What is the average revenue amount per order?
avgerage_revenue_per_order = total_revenue / total_number_orders
print("\nStep 16: Average Revenue per Order: ", avgerage_revenue_per_order)

# Step 17: How many different items are sold?
total_number_items_sold = chipo["item_name"].nunique()
print("\nStep 17: Total Number of different items sold: ",total_number_items_sold)

Step 4: First 10 entries:
    order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

Step 5: Total number of observations:  4622

Step 6: Total number of columns:  5

Step 7: List of column names: Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step 8: Index: None

Step 9: Most ordered item:  Chicken Bowl

Step 10: Step 10: Total number of most ordered items:  726

Step 11: The most ordered item choice description:  [Diet Coke]

Step 12: Total items ordered:  4972

Step 13:
Item price data type after conversion:  object
Item price data type after conversion:  float64

Step 14: Total Revenue:  39237.02

Step 15: Total Number of Orders:  1834

Step 16: Average Revenue per Order:  21.39423118865867

Step 17: Total Number of different items sold:  50

Question 6:

Question 7:

Question 8:

Question 9:

Question 10: